.c-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;
  transition-property: color, border, background;
  transition-duration: .3s;
  transition-timing-function: $ease-easeOut;
  overflow: hidden;
  padding: 0 5px;
  
  &--large {
    @include fontSize(1.8);
    font-weight: bold;
    letter-spacing: 2px;
    max-width: 465px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mqMd {
      @include fontSize(1.3);
      max-width: 230px;
      height: 45px;
    }
  }
  &--small {
    @include fontSize(1.6);
    font-weight: bold;
    letter-spacing: 2px;
    width: 250px;
    height: 70px;
    line-height: 70px;
    @include mqMd {
      @include fontSize(1.3);
      max-width: 230px;
      height: 45px;
      line-height: 45px;
      display: block;
    }
  }
  &--xsmall {
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    position: relative;
    @include mqSm {
      width: 100%;
      padding: 0 30px;
    }
  }
}

.c-btn--primary{
  background: $color-theme;

  @include hover{
    background: darken($color-theme, 30%);
  }
}